* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans MS', cursive, sans-serif;

}

body {
    /* background: olivedrab; */
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(/imagens/Parede_Verde.png); */
    background-image: url(/imagens/Parede_Verde.png);

    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;

    grid-template-areas:
        "dinheiro titulo relogio"
        "loja plantacao ."
        ". ferramentas credito"
    ;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#titulo {
    grid-area: titulo;
}

#dinheiro {
    grid-area: dinheiro;
    margin: auto;
}

#loja {
    background-color: burlywood;
    border: 5px solid brown;
    
    grid-area: loja;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 120px;
}

.item-loja {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.item-loja > span {
    font-size: 16px;
}

#plantacao {
    grid-area: plantacao;
    background-color: greenyellow;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    width: 100%;
    height: 100%;

    max-width: 540px;
    max-height: 540px;
}

#plantacao > li > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}


#lista_ferramentas {
    background-color: burlywood;
    border: 5px solid brown;

    grid-area: ferramentas;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 90px;
}

#relogio {
    grid-area: relogio;    
    max-width: 100px;
    max-height: 100px;
    text-align: center;
}

#relogio > img {
    background-color: burlywood;
    height: 100px;
    width: 100px;
    margin: 0 10px;
    border-radius: 50%;
    border: 5px solid brown;
}

#relogio > img:hover{
    border-color: lightsteelblue;
}

#credito {
    grid-area: credito;
}

#credito > span {
    background: lightsteelblue;
    border: 3px solid brown;
    border-radius: 15%;
}

li {
    list-style: none;
    width: 45px;
    height: 45px;
    border: brown 1px solid;
    background-color: #a07a51;
}

li.arado {
    background: #654321;
}

li.regado {
    background: #3f2a14;
    background-image: radial-gradient(#3f2a14, rgb(62, 56, 180));
}

button {
    background-color: burlywood;
    border: 5px solid brown;
    margin: 10px 10px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

button>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

button:hover {
    border: 5px solid lightsteelblue;
}

.selecionado {
    border: 5px solid blueviolet;
     background-color: #b482e3;
}